{% load static %}
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>
  {% block title %}
  {% endblock %}
  </title>
  {% block meta %}
    <meta name="description" content="Gwen's Metrics Tracker">
    <meta name="author" content="Max Peregrino">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="apple-touch-icon" href="{% static 'apple-touch-icon.png'%}" />
  {% endblock %}
  {% block css %}
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <script src="/static/js/main.js"></script>
  {% endblock %}
</head>

<body class="bg-gray-200">
  <div class="top w-full bg-blue-400">
    {% include "nav.html" %}
  </div>

  {% block errors %}
    {{ form.errors }}
  {% endblock %}

  {% if messages %}
  <ul class="messages w-full bg-yellow-400 p-5 text-lg">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}

  </ul>
  {% endif %}
<main class="md:w-4/5 lg:w-3/5 mx-2 sm:mx-5 md:m-auto">
    {% block content %}
    {% endblock %}
</main>
</body>
</html>