{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block errors %}
  {% if form.errors %}
  {% endif %}

  {% if record_form.errors %}
  {% endif %}

{% endblock errors%}

{% block content %}
    <style>
        .help-inline, .asteriskName, .control-label, .help-block {
            display: none;
        }
    </style>


    {% crispy form %}

    {% if tracker %}
    <div class="session-settings">
      {% crispy session_settings_form %}
    </div>
    {% endif %}

    {% if record_form %}
        <ul class="w-full mt-4 rounded flex flex-col">
            <li class="mb-4 flex-initial">
                {% crispy record_form %}
            </li>

            {% for record_form in record_forms %}
                <li class="mb-1 flex-initial">
                    {% crispy record_form  %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock content %}