[Unit]
Description=Metrics Tracker Service
BindsTo=nginx.service,docker.service
After=nginx.service,docker.serice

[Service]
WorkingDirectory=/home/mooja/metrics_tracker
ExecStart=/usr/local/bin/docker-compose -f /home/mooja/metrics_tracker.production.yml up
ExecStop=/usr/local/bin/docker-compose -f /home/mooja/metrics_tracker.production.yml down
Restart=on-failure
RestartSec=10


[Install]
WantedBy=multi-user.target