{% load crispy_forms_tags %}

<div class="flex-initial w-48 my-1 py-3 px-2 
    bg-{{ color }}-100 
    border-{{ color }}-500 
    border-t-4
    border-l
    border-r
    border-b-8
    flex flex-col no-wrap justify-start
    ">

  <div class="info w-full text-center">
    <h3 class="name text-xl capitalize mb-1 text-center">
      <a href="{% url 'tracker_detail' tracker.id %}">
        {{ tracker.name }}
      </a>
    </h3>

    <p class="hours-this-week my-4">
      <span class="text-4xl">{{ tracker.hours_this_week }}</span> <br> hours this week
    </p>

    {% if tracker.hours_last_week %}
    <p class="my-2">
      {{ tracker.hours_last_week }} hours last week
    </p>
    {% endif %}
  </div>
  <div class="p-1 bg-{{ color }}-300 mt-auto flex justify-start content-center items-center">
      {% crispy form %}
  </div>
</div>