<div class="flex-initial h-40 w-80 my-1 mr-2 py-3 px-2 flex-none 
    bg-{{ color }}-100 
    border-{{ color }}-500 
    border-l-8 shadow flex flex-row flex-nowrap ">

  <div class="info w-2/3">
    <h3 class="name text-xl capitalize mb-1"><a href="{% url 'tracker_detail' tracker.id %}">{{ tracker.name }}</a></h3>

    <p class="hours-this-week my-4">
      <span class="text-4xl">{{ tracker.hours_this_week }}</span> hours this
      week
    </p>

  </div>
  <div class="w-1/3 p-1 bg-{{ color }}-300 flex justify-center content-center items-center">
    <form action="{% url 'record_detail' tracker.id %}" method="post" id="form-{{ tracker.id }}" class="h-full w-full flex flex-col justify-center items-center content-center">
        <style>
            #form-{{tracker.id}}>input[type="submit"] {
                display: none;
            }

            #form-{{tracker.id}}>label {
                display: none;
            }

            #form-{{tracker.id}}>input[type="number"] {
                background-color: {{ color }};
                height: 5rem;
                width: 5rem;
                border-radius: 50%;
                color: #e3e3e3;
                text-align: center;
                font-size: 3rem;

            }

            #form-{{tracker.id}}>input[type="submit"] {
                display: none;
            }

            /* Chrome, Safari, Edge, Opera */
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
            }

            /* Firefox */
            input[type=number] {
            -moz-appearance: textfield;
            }
        </style>
      {% csrf_token %} 
      {{ form }}
      <input type="submit" value="Add">
    </form>
  </div>
</div>