<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>
  {% block title %}
  {% endblock %}
  </title>
  {% block meta %}
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  {% endblock %}
  {% block css %}
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  {% endblock %}

</head>

<body class="bg-gray-200">
  <div class="top w-full h-8 bg-blue-400"></div>
  {% if messages %}
  <ul class="messages w-full bg-yellow-400 p-5 text-lg">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
<main class="w-3/5 m-auto p-2 flex flex-row flex-wrap">
    {% block content %}
    {% endblock %}
</main>
</body>
</html>