{% extends "base.html" %}

{% load tailwind_filters %}

{% load crispy_forms_tags %}
  
{% block title %} Gwen's Metrics Tracker {% endblock title %} 

{% block content %}
  <div class="w-full py-4 gap-x-1 flex flex-row flex-wrap justify-center">
    {% for tracker, form, color in trackers_and_forms_and_colors %}
      {% include "tracker/index_tracker.html" with tracker=tracker form=form color=color %} 
    {% endfor %}
  </div>
  <div>
    {% autoescape off %}
    {{ plot_image }}
    {% endautoescape %}
  </div>
{% endblock content %}
